* {
    box-sizing: border-box;
}
h2 {
    color: red;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

.footer {
    background-color: lightblue;
    padding: 20px;
}

.column {
    float: left;
    padding: 20px;
}

.menu {
    font-size: 2em;
    width: 27%;
}

.content {
    width: 73%;
}

.clearfix::after, .footer::after {
    content: "";
    clear: both;
    display: table;
}

.contact {
    float: left;
    padding: 10px;
}

.address, .email, .phone {
    width: 33%;
}